<link rel="stylesheet" href="/css/commen.css">
<style>
    .form-container{
        height: auto;
    }
    
    form{
        margin: 5%;
    }
</style>
<!-- forgot password -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-container">
                <h3 class="heading">Forgot Password</h3><br>
                <form action="<%=url%>" method="post">
                    <input type="email" class="form-control" name="email" placeholder="Email" required><br>
                    <input type="submit" id="btnSubmit" class="btn btn-dark btn-outline-warning" value="crate link">
                </form>
            </div>
        </div>
    </div>
</div>