<link rel="stylesheet" href="/css/login.css">
<style>
    .form-container{
        width: auto;
        padding: 5%;
    }
</style>
<!-- signup -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-container" style="height: auto; padding-bottom: 20px;">
                <div><img src="https://cdn-icons-png.flaticon.com/256/3281/3281355.png" alt=""></div>
                <br>
                <h3 class="heading">Welcome To Admin Pannal</h3><br>
            </div>
        </div>
    </div>
</div>