<link rel="stylesheet" href="/css/commen.css">
<!-- reset password -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-container">
                <h3 class="heading">Reset Password</h3><br>
                <form action="<%=url%>" method="post">
                    <input type="password" class="form-control" name="password" placeholder="password" required><br>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="confirm password" required><br>
                    <input type="hidden" class="form-control" name="userID" value="<%=user%>" required>
                    <input type="hidden" class="form-control" name="accessToken" value="<%=accessToken%>" required>
                    <input type="submit" id="btnSubmit" class="btn btn-dark btn-outline-warning" value="update">
                </form>
            </div>
        </div>
    </div>
</div>